
/* ---- Global ----*/
body {
    background-color: $grisfoncé;
    @extend %font-family-texte;
    min-width: 375px;
}

h1 {
    @extend %default-cursor;
    font-size: 2em;
    color: $noir;
    @extend %font-family-titre;
}

h3 {
    @extend %default-cursor;
    font-size: 1.8em;
    color: $noir;
    @extend %font-family-titre;
}

h6 {
    @extend %default-cursor;
    @extend %font-family-titre;
    @extend %flex-center;
    height: 63px;
    @extend %absolute;
    color: $noir;
    font-size: 2em;
}

/* --------- HEADER --------- */

/* ---- BOUTON ----*/
.bouton {
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    color: $blanc;
    border: none;
    border-radius: $raduis25;
    @include height-width(50px, 218px);
    margin: 0 auto;
    background: $primaire;
    background: linear-gradient(0deg, $primaire 0%, $secondaire 120%);
    box-shadow: $ombre;

    &:hover {
        background: linear-gradient(0deg, lighten($primaire, 3) 0%, lighten($secondaire, 3) 120%);
        box-shadow: 0 0 12px rgba($color: $noir, $alpha: 0.6);
    }

}

/* ---------- NOUVEAU Restaurant ----------*/
.nouveau {
    cursor: default !important;
    height: 30px !important;
    width: 80px !important;
    background-color: $tertiaire !important;
    color: $nouveau !important;
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 3px !important;
    top: 13px !important;
    right: 13px !important;
    font-size: 0.95em !important;
    font-weight: 600 !important;
}


/* ---------- LISTE DE CARTES ---------- */

/* 1 - Carte Type Un Classique */
.cartetypeun {
    @extend %relative;
    @extend %flex-center;
    font-weight: bold;
    @include height-width(75px, 100%);
    background-color: $grisclaire;
    border-radius: $raduis25;
    box-shadow: $ombre2;

    .cartetypeun__nombre {
        @extend %absolute;
        left: -12px;
        @extend %flex-center;
        font-size: .85em;
        border-radius: $raduis50;
        @include height-width(24px, 24px);
        color: $blanc;
        background-color: $primaire;
    }

    .cartetypeun__icon {
        @extend %absolute;
        left: 10%;
        color: lighten($noir, 20);
    }
}

/* 2 - Carte Type un Coloré */
.cartecoloré {
    @extend %relative;
    @extend %flex-center;
    font-weight: bold;
    @include height-width(75px, 100%);
    background-color: lighten($primaire, 31);
    border-radius: $raduis25;
    box-shadow: $ombre2;

    .cartecoloré__nombre {
        @extend %absolute;
        left: -12px;
        @extend %flex-center;
        font-size: .85em;
        border-radius: $raduis50;
        @include height-width(24px, 24px);
        color: $blanc;
        background-color: $primaire;
    }

    .cartecoloré__icon {
        color: $primaire;
        @extend %absolute;
        left: 10%;
    }
}

/* -- FOOTER -- */
#pieddepage {
    
    @include height-width(200px, 100%);
    background-color: $footer;

    .pieddepage_bloctexte {
        width: 100%;
        max-width: 690px;
        margin: 0 auto;
        padding: 20px;

        h4 {
            font-family: $titre;
            font-size: 1.1em;
            color: $blanc;
            margin-bottom: 20px;
            letter-spacing: 0.08em;
        }

        .pieddepage_bloctexte__texte {
            display: flex;
            align-items: center;
            color: $blanc;
            cursor: pointer;
            font-size: 0.9em;

            p {
                margin-bottom: 10px;
            }

            i {
                margin-right: 10px;
                margin-bottom: 10px;
            }

            p:hover, a:hover {
                text-decoration: underline;
            }

        }

    }
}

/* ------ Bloc like ------- */

.carte_restaurant__blocicon {
    @extend %relative;
    @extend %flex-center;
    @include height-width(75px, 90px);
    border-radius: $raduisBD20;

    &:hover .premier_coeur {
        opacity: 0;
    }
    
    .carte_restaurant__icon {
        cursor: pointer;
        @extend %absolute;
        @extend %flex-center;
        font-size: 1.7em;
        @include height-width(75px, 75px);

        
    }

    .coeur_plein {
        background: linear-gradient(0deg, $primaire 0%, $secondaire 80%);
        background-clip: text;
        color: transparent;
        opacity: 0;

        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }

    .premier_coeur {

        color: $noir;

        &:hover {
            color: transparent;
        }
    }

}

// ------------- Hauteur du main en fonction du nombre de plats
// pour les pages restaurant id= main_restaurant
/*Class à placer en fonction des restaurants et du nombre 
de plats (avec 3 section: entrée, plats, desserts). */
.nbplats_9 {
    height: height_nbplats(9);
}

.nbplats_10 {
    height: height_nbplats(10);
}