// --- Couleurs
$primaire: #9356DC;
$secondaire: #ff79DA;
$tertiaire: #99e2d0;
$grisclaire: #F6F6F6;
$grisfoncé: #EAEAEA;
$nouveau: #169475;
$footer: #353535;
$blanc: #FFF;
$noir: #000000;

// --- Typographie
$titre: 'Shrikhand', cursive, sans-serif;
$texte: 'Roboto', sans-serif;

// --- Ombre Portées
$ombre: 0 0 12px rgba($color: $noir, $alpha: 0.4);
$ombre2: 0 5px 10px rgba($color: $noir, $alpha: 0.2);

// --- Raduis
$raduis25: 25px;
$raduis20: 20px;
$raduisimg20: 20px 20px 0 0;
$raduistxt20: 0 0 20px 20px;
$raduisBG20: 0 0 0 20px;
$raduisBD20: 0 0 20px 0;
$raduis50: 50%;

// --- Padding
$padtexteR: 10px 0 10px 15px;
