@charset "UTF-8";
/* Elements */
/* -----typo----- */
/* -----ombre portée----- */
/* -----raduis----- */
/* -----padding----- */
/* ---- Global ----*/
body {
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive, sans-serif;
}

/* HEADER */
/* ---- BOUTON ----*/
.bouton {
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  margin: 0 auto;
  background: #9356DC;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), color-stop(120%, #ff79DA));
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 120%);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.bouton:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#985ede), color-stop(120%, #ff83dd));
  background: linear-gradient(0deg, #985ede 0%, #ff83dd 120%);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

/* ---------- LISTE DE CARTES ---------- */
/* 1 - Carte Type Un Classique */
.cartetypeun {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  height: 75px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cartetypeun .cartetypeun__nombre {
  position: absolute;
  left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .85em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #FFF;
  background-color: #9356DC;
}

.cartetypeun .cartetypeun__icon {
  position: absolute;
  left: 10%;
  color: #333333;
}

/* 2 - Carte Type un Coloré */
.cartecoloré {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  height: 75px;
  width: 100%;
  background-color: #e7d9f7;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cartecoloré .cartecoloré__nombre {
  position: absolute;
  left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .85em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #FFF;
  background-color: #9356DC;
}

.cartecoloré .cartecoloré__icon {
  color: #9356DC;
  position: absolute;
  left: 10%;
}
/*# sourceMappingURL=commun.css.map */