.conteneur_chargement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  -webkit-animation: loaderNone 3s linear 1;
          animation: loaderNone 3s linear 1;
  top: -100%;
  opacity: 0;
}

.conteneur_chargement .conteneur_chargement__box_icon {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -webkit-animation: rotateDroite 6S linear infinite;
          animation: rotateDroite 6S linear infinite;
}

.conteneur_chargement .conteneur_chargement__box_icon i {
  position: absolute;
}

.conteneur_chargement .conteneur_chargement__box_icon .fa-utensils {
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.conteneur_chargement .conteneur_chargement__box_icon .deg0 {
  top: 0;
  left: 130px;
  color: #9356DC;
}

.conteneur_chargement .conteneur_chargement__box_icon .deg90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 130px;
  right: 3px;
  color: #ff79DA;
}

.conteneur_chargement .conteneur_chargement__box_icon .deg180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 0;
  left: 130px;
  color: #9356DC;
}

.conteneur_chargement .conteneur_chargement__box_icon .deg270 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: 130px;
  left: 3px;
  color: #ff79DA;
}

.conteneur_chargement .traitloader {
  position: absolute;
  height: 200px;
  width: 200px;
  border-top: 5px solid #ff79DA;
  border-left: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateGauche 3s linear infinite;
          animation: rotateGauche 3s linear infinite;
}

.conteneur_chargement .traitloader2 {
  position: absolute;
  height: 200px;
  width: 200px;
  border-bottom: 5px solid #ff79DA;
  border-right: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateGauche 3s linear infinite;
          animation: rotateGauche 3s linear infinite;
}

.conteneur_chargement .classicloader {
  position: absolute;
  height: 335px;
  width: 335px;
  border-left: 5px solid #9356DC;
  border-right: 5px solid #9356DC;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateDroite 2S linear infinite;
          animation: rotateDroite 2S linear infinite;
}

.conteneur_chargement .conteneur_chargement__titre {
  position: absolute;
  font-size: 30px;
}

@-webkit-keyframes rotateGauche {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotateGauche {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotateDroite {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateDroite {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loaderNone {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes loaderNone {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}
/*# sourceMappingURL=loader.css.map */