@charset "UTF-8";
h6, h3, h1 {
  font-family: "Shrikhand", cursive, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.image_bannière img, .carte_restaurant .carte_restaurant__blocimg .carte_restaurant__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h6, h3, h1 {
  cursor: default;
}

.carte_restaurant .carte_restaurant__bloctexte, .sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__input, .sectionchoixville .sectionchoixville__iconinput form, .sectionchoixville .sectionchoixville__iconinput, .sectionchoixville, header h1, header, .carte_restaurant__blocicon .carte_restaurant__icon, .carte_restaurant__blocicon, .cartecoloré .cartecoloré__nombre, .cartecoloré, .cartetypeun .cartetypeun__nombre, .cartetypeun, h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroban .heroban__soustitre, .heroban .heroban__titre {
  justify-content: center;
  text-align: center;
}

.bloc_cartes_restaurants, .fonctionnement .fonctionnement__bloccartes, .heroban {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_restaurant, main, .sectionchoixville .sectionchoixville__iconinput form, header, .carte_restaurant__blocicon, .cartecoloré, .cartetypeun {
  position: relative;
}

.cartes, .sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__icon, header h1, header .header__divback, .carte_restaurant__blocicon .carte_restaurant__icon, .cartecoloré .cartecoloré__icon, .cartecoloré .cartecoloré__nombre, .cartetypeun .cartetypeun__icon, .cartetypeun .cartetypeun__nombre, h6 {
  position: absolute;
}

.bloc_carte .container_plats .bloc_plats__textes .plat_description, .bloc_carte .container_plats .bloc_plats__textes .plat {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

*, ::before, ::after, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.conteneur_chargement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  -webkit-animation: loaderNone 3s linear 1;
          animation: loaderNone 3s linear 1;
  top: -100%;
  opacity: 0;
}
.conteneur_chargement .conteneur_chargement__box_icon {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -webkit-animation: rotateDroite 6S linear infinite;
          animation: rotateDroite 6S linear infinite;
}
.conteneur_chargement .conteneur_chargement__box_icon i {
  position: absolute;
}
.conteneur_chargement .conteneur_chargement__box_icon .fa-utensils {
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.conteneur_chargement .conteneur_chargement__box_icon .deg0 {
  top: 0;
  left: 130px;
  color: #9356DC;
}
.conteneur_chargement .conteneur_chargement__box_icon .deg90 {
  transform: rotate(90deg);
  top: 130px;
  right: 3px;
  color: #ff79DA;
}
.conteneur_chargement .conteneur_chargement__box_icon .deg180 {
  transform: rotate(180deg);
  bottom: 0;
  left: 130px;
  color: #9356DC;
}
.conteneur_chargement .conteneur_chargement__box_icon .deg270 {
  transform: rotate(270deg);
  top: 130px;
  left: 3px;
  color: #ff79DA;
}
.conteneur_chargement .traitloader {
  position: absolute;
  height: 200px;
  width: 200px;
  border-top: 5px solid #ff79DA;
  border-left: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateGauche 3s linear infinite;
          animation: rotateGauche 3s linear infinite;
}
.conteneur_chargement .traitloader2 {
  position: absolute;
  height: 200px;
  width: 200px;
  border-bottom: 5px solid #ff79DA;
  border-right: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateGauche 3s linear infinite;
          animation: rotateGauche 3s linear infinite;
}
.conteneur_chargement .classicloader {
  position: absolute;
  height: 335px;
  width: 335px;
  border-left: 5px solid #9356DC;
  border-right: 5px solid #9356DC;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateDroite 2S linear infinite;
          animation: rotateDroite 2S linear infinite;
}
.conteneur_chargement .conteneur_chargement__titre {
  position: absolute;
  font-size: 30px;
}

body.accueil {
  overflow: initial;
  -webkit-animation: noscroll 3s ease-out 1;
          animation: noscroll 3s ease-out 1;
}

@-webkit-keyframes noscroll {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: initial;
  }
}

@keyframes noscroll {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: initial;
  }
}
@-webkit-keyframes rotateGauche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotateGauche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotateDroite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateDroite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loaderNone {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes loaderNone {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
/* ---- Global ----*/
body {
  background-color: #EAEAEA;
  min-width: 375px;
}

h1 {
  font-size: 2em;
  color: #000000;
}

h3 {
  font-size: 1.8em;
  color: #000000;
}

h6 {
  height: 63px;
  color: #000000;
  font-size: 2em;
}

/* --------- HEADER --------- */
/* ---- BOUTON ----*/
.bouton {
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  margin: 0 auto;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 120%);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.bouton:hover {
  background: linear-gradient(0deg, #9b63df 0%, #ff88de 120%);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

/* ---------- NOUVEAU Restaurant ----------*/
.nouveau {
  cursor: default !important;
  height: 30px !important;
  width: 80px !important;
  background-color: #99e2d0 !important;
  color: #169475 !important;
  position: absolute !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 3px !important;
  top: 13px !important;
  right: 13px !important;
  font-size: 0.95em !important;
  font-weight: 600 !important;
}

/* ---------- LISTE DE CARTES ---------- */
/* 1 - Carte Type Un Classique */
.cartetypeun {
  font-weight: bold;
  height: 75px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cartetypeun .cartetypeun__nombre {
  left: -12px;
  font-size: 0.85em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #FFF;
  background-color: #9356DC;
}
.cartetypeun .cartetypeun__icon {
  left: 10%;
  color: #333333;
}

/* 2 - Carte Type un Coloré */
.cartecoloré {
  font-weight: bold;
  height: 75px;
  width: 100%;
  background-color: #e7d9f7;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cartecoloré .cartecoloré__nombre {
  left: -12px;
  font-size: 0.85em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #FFF;
  background-color: #9356DC;
}
.cartecoloré .cartecoloré__icon {
  color: #9356DC;
  left: 10%;
}

/* -- FOOTER -- */
#pieddepage {
  height: 200px;
  width: 100%;
  background-color: #353535;
}
#pieddepage .pieddepage_bloctexte {
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  padding: 20px;
}
#pieddepage .pieddepage_bloctexte h4 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 1.1em;
  color: #FFF;
  margin-bottom: 20px;
  letter-spacing: 0.08em;
}
#pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte {
  display: flex;
  align-items: center;
  color: #FFF;
  cursor: pointer;
  font-size: 0.9em;
}
#pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte p {
  margin-bottom: 10px;
}
#pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte i {
  margin-right: 10px;
  margin-bottom: 10px;
}
#pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte p:hover, #pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte a:hover {
  text-decoration: underline;
}

/* ------ Bloc like ------- */
.carte_restaurant__blocicon {
  height: 75px;
  width: 90px;
  border-radius: 0 0 20px 0;
}
.carte_restaurant__blocicon:hover .premier_coeur {
  opacity: 0;
}
.carte_restaurant__blocicon .carte_restaurant__icon {
  cursor: pointer;
  font-size: 1.7em;
  height: 75px;
  width: 75px;
}
.carte_restaurant__blocicon .coeur_plein {
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 80%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
}
.carte_restaurant__blocicon .coeur_plein:hover {
  opacity: 1;
  transform: scale(1.05);
}
.carte_restaurant__blocicon .premier_coeur {
  color: #000000;
}
.carte_restaurant__blocicon .premier_coeur:hover {
  color: transparent;
}

/*Class à placer en fonction des restaurants et du nombre 
de plats (avec 3 section: entrée, plats, desserts). */
.nbplats_9 {
  height: 1480px;
}

.nbplats_10 {
  height: 1565px;
}

header {
  z-index: 500;
  height: 63px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
header .header__divback {
  left: 15px;
  font-size: 1.5em;
  color: #000000;
}
header h1 {
  height: 63px;
}

.sectionchoixville {
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
}
.sectionchoixville .sectionchoixville__iconinput {
  height: 50px;
  width: 100%;
}
.sectionchoixville .sectionchoixville__iconinput form {
  width: 100%;
  height: 50px;
}
.sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__icon {
  height: auto;
  width: 150px;
  font-size: 1.2em;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}
.sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__input {
  z-index: 100;
  background-color: transparent;
  text-align: center;
  height: 45px;
  width: 99.7%;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
.sectionchoixville .sectionchoixville__iconinput form input:focus {
  outline: 2px solid #9356DC;
  color: #782cd3;
  background-color: #EAEAEA;
}
.sectionchoixville .sectionchoixville__iconinput form input::-moz-placeholder {
  display: flex;
  color: #000000;
}
.sectionchoixville .sectionchoixville__iconinput form input:-ms-input-placeholder {
  display: flex;
  color: #000000;
}
.sectionchoixville .sectionchoixville__iconinput form input::placeholder {
  display: flex;
  color: #000000;
}

.heroban {
  z-index: 10;
  height: 288px;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: #F6F6F6;
  justify-content: space-between;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.heroban .heroban__titre {
  font-size: 1.5em;
  font-weight: 800;
  width: 75%;
}
.heroban .heroban__soustitre {
  font-size: 1.1em;
  margin-bottom: 15px;
  width: 90%;
}
.heroban .heroban__bouton a, .heroban .heroban__bouton a:visited {
  color: #FFF;
}

a {
  color: #FFF;
}

main {
  background-color: #FFF;
  height: 1666px;
  width: 100%;
}

/* MAIN - Fonctionnement */
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  height: 440px;
  width: 100%;
  max-width: 742px;
  margin: 0 auto;
  background-color: #FFF;
}
.fonctionnement .fonctionnement__titre {
  margin: 0 0 35px 20px;
}
.fonctionnement .fonctionnement__bloccartes {
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
}

/* ------------PAGE RESTAURANT---------- */
/* MAIN - Restaurants */
.bloc_restaurants {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 1226px;
  width: 100%;
  background-color: #F6F6F6;
}
.bloc_restaurants .bloc_restaurants2 {
  padding: 50px 20px;
}
.bloc_restaurants .bloc_restaurants__titre {
  max-width: 690px;
  width: 100%;
  margin: 0 auto 35px auto;
}

/* carte acceuil restaurants */
.bloc_cartes_restaurants {
  height: 100%;
  justify-content: flex-start;
}

.carte_restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  max-width: 690px;
  margin: 0 auto 20px auto;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.carte_restaurant .carte_restaurant__blocimg {
  height: 175px;
  width: 100%;
}
.carte_restaurant .carte_restaurant__blocimg .carte_restaurant__img {
  height: 175px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.carte_restaurant .carte_restaurant__bloctexte {
  height: 75px;
  width: 100%;
  background-color: #FFF;
  border-radius: 0 0 20px 20px;
}
.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__texte {
  color: #000000;
  padding: 10px 0 10px 15px;
  border-radius: 0 0 0 20px;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__texte .carte_restaurant__nom {
  font-weight: bold;
}

/* ---------- PAGE DE RESTAURANT ---------*/
#main_restaurant {
  background-color: #FFF;
  width: 100%;
}
#main_restaurant .img_main {
  display: none;
}

.image_bannière {
  height: 300px;
  width: 100%;
}
.image_bannière img {
  height: 300px;
  width: 100%;
}

.cartes {
  height: auto;
  width: 100%;
  background-color: transparent;
  top: 220px;
}
.cartes .cartes_bloctitre {
  height: 80px;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  border-radius: 45px 45px 0 0;
  overflow: hidden;
  /* Bouton like adaté */
}
.cartes .cartes_bloctitre h3 {
  padding-left: 20px;
}
.cartes .cartes_bloctitre .carte_restaurant__blocicon {
  height: 35px;
  width: 35px;
  margin-right: 30px;
  border-radius: 0px;
}

.lacarte {
  height: auto;
  width: auto;
  background-color: #EAEAEA;
  max-width: 690px;
  margin: 0 auto;
  border-radius: 45px 45px 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.bloc_carte {
  height: auto;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  padding: 0 15px 20px 15px;
  background-color: #EAEAEA;
}
.bloc_carte .container_titre {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bloc_carte .container_titre .container_titre__letitre {
  width: auto;
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 5px;
}
.bloc_carte .container_titre .container_titre__letrait {
  background-color: #99e2d0;
  height: 5px;
  width: 40px;
}
.bloc_carte .bloc_carte__plats {
  height: 70px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-animation: apparition 1s ease-out;
          animation: apparition 1s ease-out;
}
.bloc_carte .bloc_carte__plats:hover i {
  -webkit-animation: rotate 600ms ease-out;
          animation: rotate 600ms ease-out;
}
.bloc_carte .bloc_carte__plats:hover .bloc_plats__textes {
  height: 100%;
  width: calc(83.34% - 140px);
  -webkit-animation: slide 450ms linear;
          animation: slide 450ms linear;
}
.bloc_carte .container_plats {
  cursor: pointer;
  height: 70px;
  width: 120%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: #F6F6F6;
}
.bloc_carte .container_plats .bloc_plats__textes {
  height: 100%;
  width: calc(83.34% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}
.bloc_carte .container_plats .bloc_plats__textes .plat {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 5px;
}
.bloc_carte .container_plats .bloc_plats__textes .plat_description {
  display: block;
  width: 100%;
  font-size: 1em;
}
.bloc_carte .container_plats .plat_prix {
  height: 70px;
  width: 72px;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  font-size: 1em;
  font-weight: 600;
}
.bloc_carte .container_plats .animation_choix {
  background-color: #99e2d0;
  height: 70px;
  width: 70px;
  font-weight: bold;
  font-size: 1.5em;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes slide {
  0% {
    height: 100%;
    width: calc(83.34% - 70px);
  }
  100% {
    height: 100%;
    width: calc(83.34% - 140px);
  }
}
@keyframes slide {
  0% {
    height: 100%;
    width: calc(83.34% - 70px);
  }
  100% {
    height: 100%;
    width: calc(83.34% - 140px);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.bloc_bouton {
  height: 175px;
  width: 100%;
  max-width: 690px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 35px;
}
.bloc_bouton .cartes_bouton {
  width: 40%;
  margin: 0 auto;
  min-width: 185px;
}

@media screen and (min-width: 690px) {
  #main_restaurant {
    overflow: hidden;
  }
  #main_restaurant .img_main {
    height: 100%;
    width: 100%;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .image_bannière {
    display: none;
  }

  .cartes .cartes_bloctitre, .cartes .bloc_carte, .cartes .bloc_bouton {
    background-color: rgba(234, 234, 234, 0.85);
  }
  .cartes .lacarte {
    background-color: transparent;
  }

  #pieddepage .pieddepage_bloctexte {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__titre {
    position: absolute;
    top: 25px;
  }
  #pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte p {
    padding-top: 45px;
    margin-bottom: 0px;
  }
  #pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte i {
    padding-top: 45px;
    margin-bottom: 0px;
  }
  #pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte a {
    padding-top: 45px;
    margin-bottom: 0px;
  }
}/*# sourceMappingURL=style.css.map */