@charset "UTF-8";
.conteneur_chargement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  -webkit-animation: loaderNone 3s linear 1;
          animation: loaderNone 3s linear 1;
  top: -100%;
  opacity: 0;
}

.conteneur_chargement .conteneur_chargement__box_icon {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -webkit-animation: rotateDroite 6S linear infinite;
          animation: rotateDroite 6S linear infinite;
}

.conteneur_chargement .conteneur_chargement__box_icon i {
  position: absolute;
}

.conteneur_chargement .conteneur_chargement__box_icon .fa-utensils {
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.conteneur_chargement .conteneur_chargement__box_icon .deg0 {
  top: 0;
  left: 130px;
  color: #9356DC;
}

.conteneur_chargement .conteneur_chargement__box_icon .deg90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 130px;
  right: 3px;
  color: #ff79DA;
}

.conteneur_chargement .conteneur_chargement__box_icon .deg180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 0;
  left: 130px;
  color: #9356DC;
}

.conteneur_chargement .conteneur_chargement__box_icon .deg270 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: 130px;
  left: 3px;
  color: #ff79DA;
}

.conteneur_chargement .traitloader {
  position: absolute;
  height: 200px;
  width: 200px;
  border-top: 5px solid #ff79DA;
  border-left: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateGauche 3s linear infinite;
          animation: rotateGauche 3s linear infinite;
}

.conteneur_chargement .traitloader2 {
  position: absolute;
  height: 200px;
  width: 200px;
  border-bottom: 5px solid #ff79DA;
  border-right: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateGauche 3s linear infinite;
          animation: rotateGauche 3s linear infinite;
}

.conteneur_chargement .classicloader {
  position: absolute;
  height: 335px;
  width: 335px;
  border-left: 5px solid #9356DC;
  border-right: 5px solid #9356DC;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateDroite 2S linear infinite;
          animation: rotateDroite 2S linear infinite;
}

.conteneur_chargement .conteneur_chargement__titre {
  position: absolute;
  font-size: 30px;
}

@-webkit-keyframes rotateGauche {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotateGauche {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotateDroite {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateDroite {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loaderNone {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes loaderNone {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

*, ::before, ::after, h1, h2, h3, h4, h5, h6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Elements */
/* -----typo----- */
/* -----ombre portée----- */
/* -----raduis----- */
/* -----padding----- */
/* ---- Global ----*/
body {
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive, sans-serif;
}

h6 {
  font-family: "Shrikhand", cursive, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  position: absolute;
  color: #000000;
  font-size: 2em;
}

/* HEADER */
/* ---- BOUTON ----*/
.bouton {
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  margin: 0 auto;
  background: #9356DC;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), color-stop(120%, #ff79DA));
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 120%);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.bouton:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#985ede), color-stop(120%, #ff83dd));
  background: linear-gradient(0deg, #985ede 0%, #ff83dd 120%);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

/* ---------- LISTE DE CARTES ---------- */
/* 1 - Carte Type Un Classique */
.cartetypeun {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  height: 75px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cartetypeun .cartetypeun__nombre {
  position: absolute;
  left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .85em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #FFF;
  background-color: #9356DC;
}

.cartetypeun .cartetypeun__icon {
  position: absolute;
  left: 10%;
  color: #333333;
}

/* 2 - Carte Type un Coloré */
.cartecoloré {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  height: 75px;
  width: 100%;
  background-color: #e7d9f7;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cartecoloré .cartecoloré__nombre {
  position: absolute;
  left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .85em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #FFF;
  background-color: #9356DC;
}

.cartecoloré .cartecoloré__icon {
  color: #9356DC;
  position: absolute;
  left: 10%;
}

/* HEADER test */
header {
  position: relative;
  height: 63px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

header .header__divback {
  position: absolute;
  left: 15px;
  font-size: 1.5em;
  color: #000000;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  position: absolute;
  color: #000000;
  font-size: 2em;
}

/* Input avec choix de ville*/
.sectionchoixville {
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionchoixville .sectionchoixville__iconinput {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sectionchoixville .sectionchoixville__iconinput form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__icon {
  width: 150px;
  position: absolute;
  font-size: 1.2em;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__input {
  z-index: 100;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 45px;
  width: 99.7%;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.sectionchoixville .sectionchoixville__iconinput form input:focus {
  outline: 2px solid #9356DC;
  color: #782cd3;
}

.sectionchoixville .sectionchoixville__iconinput form input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  color: #000000;
}

.sectionchoixville .sectionchoixville__iconinput form input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.sectionchoixville .sectionchoixville__iconinput form input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.sectionchoixville .sectionchoixville__iconinput form input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

/* Hero-bannière titre, description + button */
.heroban {
  z-index: 10;
  height: 288px;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.heroban .heroban__titre {
  font-size: 1.5em;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 75%;
}

.heroban .heroban__soustitre {
  font-size: 1.1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  width: 90%;
}

main {
  position: relative;
  background-color: #FFF;
  height: 1666px;
  width: 100%;
}

/* MAIN - Fonctionnement */
.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
  height: 440px;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  background-color: #FFF;
}

.fonctionnement .fonctionnement__titre {
  margin: 0 0 35px 20px;
}

.fonctionnement .fonctionnement__bloccartes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
}

/* MAIN - Restaurants */
.bloc_restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 20px;
  height: 1226px;
  width: 100%;
  background-color: #F6F6F6;
}

.bloc_restaurants .bloc_restaurants__titre {
  max-width: 690px;
  width: 100%;
  margin: 0 auto 35px auto;
}

/* carte acceuil restaurants */
.bloc_cartes_restaurants {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carte_restaurant {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.carte_restaurant .carte_restaurant__blocimg {
  height: 175px;
  width: 100%;
}

.carte_restaurant .carte_restaurant__blocimg .carte_restaurant__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.carte_restaurant .carte_restaurant__bloctexte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 100%;
  background-color: #FFF;
  border-radius: 0 0 20px 20px;
}

.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__texte {
  color: #000000;
  padding: 10px 0 10px 15px;
  border-radius: 0 0 0 20px;
  height: 75px;
  width: 100%;
  background-color: gold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__texte .carte_restaurant__nom {
  font-weight: bold;
}

.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__blocicon {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: hotpink;
  height: 75px;
  width: 90px;
  border-radius: 0 0 20px 0;
}

.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__blocicon .carte_restaurant__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 1.7em;
  height: 75px;
  width: 75px;
}

.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__blocicon .iconplein {
  color: rgba(147, 86, 220, 0.8);
}
/*# sourceMappingURL=style.css.map */