@charset "UTF-8";
h6, h3, h1 {
  font-family: "Shrikhand", cursive, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.image_bannière img, .carte_restaurant .carte_restaurant__blocimg .carte_restaurant__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h6, h3, h1 {
  cursor: default;
}

.carte_restaurant .carte_restaurant__bloctexte, .sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__input, .sectionchoixville .sectionchoixville__iconinput form, .sectionchoixville .sectionchoixville__iconinput, .sectionchoixville, header h1, header, .carte_restaurant__blocicon .carte_restaurant__icon, .cartecoloré .cartecoloré__nombre, .cartecoloré, .cartetypeun .cartetypeun__nombre, .cartetypeun, h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroban .heroban__soustitre, .heroban .heroban__titre {
  justify-content: center;
  text-align: center;
}

.bloc_cartes_restaurants, .fonctionnement .fonctionnement__bloccartes, .heroban {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_restaurant, main, .sectionchoixville .sectionchoixville__iconinput form, header, .carte_restaurant__blocicon, .cartecoloré, .cartetypeun {
  position: relative;
}

.cartes, .sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__icon, header h1, header .header__divback, .carte_restaurant__blocicon .carte_restaurant__icon, .cartecoloré .cartecoloré__icon, .cartecoloré .cartecoloré__nombre, .cartetypeun .cartetypeun__icon, .cartetypeun .cartetypeun__nombre, h6 {
  position: absolute;
}

*, ::before, ::after, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.conteneur_chargement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  -webkit-animation: loaderNone 3s linear 1;
          animation: loaderNone 3s linear 1;
  top: -100%;
  opacity: 0;
}
.conteneur_chargement .conteneur_chargement__box_icon {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -webkit-animation: rotateDroite 6S linear infinite;
          animation: rotateDroite 6S linear infinite;
}
.conteneur_chargement .conteneur_chargement__box_icon i {
  position: absolute;
}
.conteneur_chargement .conteneur_chargement__box_icon .fa-utensils {
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.conteneur_chargement .conteneur_chargement__box_icon .deg0 {
  top: 0;
  left: 130px;
  color: #9356DC;
}
.conteneur_chargement .conteneur_chargement__box_icon .deg90 {
  transform: rotate(90deg);
  top: 130px;
  right: 3px;
  color: #ff79DA;
}
.conteneur_chargement .conteneur_chargement__box_icon .deg180 {
  transform: rotate(180deg);
  bottom: 0;
  left: 130px;
  color: #9356DC;
}
.conteneur_chargement .conteneur_chargement__box_icon .deg270 {
  transform: rotate(270deg);
  top: 130px;
  left: 3px;
  color: #ff79DA;
}
.conteneur_chargement .traitloader {
  position: absolute;
  height: 200px;
  width: 200px;
  border-top: 5px solid #ff79DA;
  border-left: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateGauche 3s linear infinite;
          animation: rotateGauche 3s linear infinite;
}
.conteneur_chargement .traitloader2 {
  position: absolute;
  height: 200px;
  width: 200px;
  border-bottom: 5px solid #ff79DA;
  border-right: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateGauche 3s linear infinite;
          animation: rotateGauche 3s linear infinite;
}
.conteneur_chargement .classicloader {
  position: absolute;
  height: 335px;
  width: 335px;
  border-left: 5px solid #9356DC;
  border-right: 5px solid #9356DC;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotateDroite 2S linear infinite;
          animation: rotateDroite 2S linear infinite;
}
.conteneur_chargement .conteneur_chargement__titre {
  position: absolute;
  font-size: 30px;
}

body {
  overflow: initial;
  -webkit-animation: noscroll 3s ease-out 1;
          animation: noscroll 3s ease-out 1;
}

@-webkit-keyframes noscroll {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: initial;
  }
}

@keyframes noscroll {
  0% {
    overflow: hidden;
  }
  90% {
    overflow: hidden;
  }
  100% {
    overflow: initial;
  }
}
@-webkit-keyframes rotateGauche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotateGauche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotateDroite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateDroite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loaderNone {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes loaderNone {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
/* ---- Global ----*/
body {
  background-color: #EAEAEA;
  min-width: 320px;
}

h1 {
  font-size: 2em;
  color: #000000;
}

h3 {
  font-size: 1.8em;
  color: #000000;
}

h6 {
  height: 63px;
  color: #000000;
  font-size: 2em;
}

/* --------- HEADER --------- */
/* ---- BOUTON ----*/
.bouton {
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  margin: 0 auto;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 120%);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.bouton:hover {
  background: linear-gradient(0deg, #9b63df 0%, #ff88de 120%);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

/* ---------- LISTE DE CARTES ---------- */
/* 1 - Carte Type Un Classique */
.cartetypeun {
  font-weight: bold;
  height: 75px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cartetypeun .cartetypeun__nombre {
  left: -12px;
  font-size: 0.85em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #FFF;
  background-color: #9356DC;
}
.cartetypeun .cartetypeun__icon {
  left: 10%;
  color: #333333;
}

/* 2 - Carte Type un Coloré */
.cartecoloré {
  font-weight: bold;
  height: 75px;
  width: 100%;
  background-color: #e7d9f7;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cartecoloré .cartecoloré__nombre {
  left: -12px;
  font-size: 0.85em;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #FFF;
  background-color: #9356DC;
}
.cartecoloré .cartecoloré__icon {
  color: #9356DC;
  left: 10%;
}

/* -- FOOTER -- */
#pieddepage {
  height: 200px;
  width: 100%;
  background-color: #353535;
}
#pieddepage .pieddepage_bloctexte {
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  padding: 20px;
}
#pieddepage .pieddepage_bloctexte h4 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 1.1em;
  color: #FFF;
  margin-bottom: 20px;
  letter-spacing: 0.08em;
}
#pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte {
  display: flex;
  align-items: center;
  color: #FFF;
  cursor: pointer;
  font-size: 0.9em;
}
#pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte p {
  margin-bottom: 10px;
}
#pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte i {
  margin-right: 10px;
  margin-bottom: 10px;
}
#pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte p:hover, #pieddepage .pieddepage_bloctexte .pieddepage_bloctexte__texte a:hover {
  text-decoration: underline;
}

/* ------ Bloc like ------- */
.carte_restaurant__blocicon {
  cursor: pointer;
  display: flex;
  height: 75px;
  width: 90px;
  border-radius: 0 0 20px 0;
}
.carte_restaurant__blocicon .carte_restaurant__icon {
  font-size: 1.7em;
  height: 75px;
  width: 75px;
}
.carte_restaurant__blocicon .coeur_plein {
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 80%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
}
.carte_restaurant__blocicon .coeur_plein:hover {
  opacity: 1;
  transform: scale(1.1);
}
.carte_restaurant__blocicon .premier_coeur {
  color: #000000;
}
.carte_restaurant__blocicon .premier_coeur:hover {
  color: transparent;
}

header {
  z-index: 500;
  height: 63px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
header .header__divback {
  left: 15px;
  font-size: 1.5em;
  color: #000000;
}
header h1 {
  height: 63px;
}

.sectionchoixville {
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
}
.sectionchoixville .sectionchoixville__iconinput {
  height: 50px;
  width: 100%;
}
.sectionchoixville .sectionchoixville__iconinput form {
  width: 100%;
  height: 50px;
}
.sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__icon {
  height: auto;
  width: 150px;
  font-size: 1.2em;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}
.sectionchoixville .sectionchoixville__iconinput form .sectionchoixville__input {
  z-index: 100;
  background-color: transparent;
  text-align: center;
  height: 45px;
  width: 99.7%;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}
.sectionchoixville .sectionchoixville__iconinput form input:focus {
  outline: 2px solid #9356DC;
  color: #782cd3;
  background-color: #EAEAEA;
}
.sectionchoixville .sectionchoixville__iconinput form input::-moz-placeholder {
  display: flex;
  color: #000000;
}
.sectionchoixville .sectionchoixville__iconinput form input:-ms-input-placeholder {
  display: flex;
  color: #000000;
}
.sectionchoixville .sectionchoixville__iconinput form input::placeholder {
  display: flex;
  color: #000000;
}

.heroban {
  z-index: 10;
  height: 288px;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: #F6F6F6;
  justify-content: space-between;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.heroban .heroban__titre {
  font-size: 1.5em;
  font-weight: 800;
  width: 75%;
}
.heroban .heroban__soustitre {
  font-size: 1.1em;
  margin-bottom: 15px;
  width: 90%;
}
.heroban .heroban__bouton a, .heroban .heroban__bouton a:visited {
  color: #FFF;
}

a {
  color: #FFF;
}

main {
  background-color: #FFF;
  height: 1666px;
  width: 100%;
}

/* MAIN - Fonctionnement */
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  height: 440px;
  width: 100%;
  max-width: 742px;
  margin: 0 auto;
  background-color: #FFF;
}
.fonctionnement .fonctionnement__titre {
  margin: 0 0 35px 20px;
}
.fonctionnement .fonctionnement__bloccartes {
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
}

/* MAIN - Restaurants */
.bloc_restaurants {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 1226px;
  width: 100%;
  background-color: #F6F6F6;
}
.bloc_restaurants .bloc_restaurants2 {
  padding: 50px 20px;
}
.bloc_restaurants .bloc_restaurants__titre {
  max-width: 690px;
  width: 100%;
  margin: 0 auto 35px auto;
}

/* carte acceuil restaurants */
.bloc_cartes_restaurants {
  height: 100%;
  justify-content: flex-start;
}

.carte_restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  max-width: 690px;
  margin: 0 auto 20px auto;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.carte_restaurant .carte_restaurant__blocimg {
  height: 175px;
  width: 100%;
}
.carte_restaurant .carte_restaurant__blocimg .carte_restaurant__img {
  height: 175px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.carte_restaurant .carte_restaurant__bloctexte {
  height: 75px;
  width: 100%;
  background-color: #FFF;
  border-radius: 0 0 20px 20px;
}
.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__texte {
  color: #000000;
  padding: 10px 0 10px 15px;
  border-radius: 0 0 0 20px;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.carte_restaurant .carte_restaurant__bloctexte .carte_restaurant__texte .carte_restaurant__nom {
  font-weight: bold;
}

/* ---------- PAGE DE RESTAURANT ---------*/
#main_restaurant {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  overflow: initial;
}

.image_bannière {
  height: 300px;
  width: 100%;
}
.image_bannière img {
  height: 300px;
  width: 100%;
}

.cartes {
  height: 1200px;
  width: 100%;
  background-color: transparent;
  top: 220px;
}
.cartes .cartes_bloctitre {
  height: 80px;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: tomato;
  border-radius: 45px 45px 0 0;
}
.cartes .cartes_bloctitre h3 {
  padding-left: 20px;
}

.bloc_carte {
  height: 320px;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: lightseagreen;
}/*# sourceMappingURL=style.css.map */